//Colors
$Orange: #f26629;
$Black: #333;
$Muted: #7a7676;
$Primary-Brown: #683100;

//Fonts
$Headings: 'Alfa Slab One', cursive;
$Text: 'Biryani', sans-serif;

//Spacing
$Wrapper: 30px 50px;
